/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    padding: 0 10px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #8C503A;
}
.wrapper{
    width: 770px;
    padding: 35px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0,0,0,0.05);
}
.wrapper .input-field{
    opacity: 0;
    z-index: -1;
    position: absolute;
}

.typing-text{
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #bfbfbf;
}

.content-box .typing-text{
    overflow: hidden;
    max-height: 256px;
}
.typing-text::-webkit-scrollbar{
    width: 0;
}

.typing-text p{
    font-size: 20px;
    text-align: justify;
    word-break: break-all;
}

.typing-text p span{
    position: relative;
}

.typing-text p span.active{
    color: #17A2B8;
}

.typing-text p span.correct{
    color: #56964f;
}
.typing-text p span.incorrect{
    color: #cb3439;
    outline: 1px solid #fff;
    background: #ffc0cb;
    border-radius: 4px;
}

.typing-text p span.active::before{
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    bottom: 0;
    left: 0;
    opacity: 0;
    border-radius: 5px;
    background: #17A2B8;
    animation: blink 1s ease-in-out infinite;
}

@keyframes blink{
    50%{
        opacity: 1;
    }
}

.content button{
    outline: none;
    border: none;
    width: 105px;
    color: #fff;
    padding: 8px 0;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    background: #17A2B8;
    transition: transform 0.3s ease;
    position:relative;
    margin-left:-50px;
    left:50%;
    width:100px;
    top: 10px;
    bottom:0px;
}
.content button:active{
    transform: scale(0.97);
}

.result-details{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.result-details li span{
    font-size: 20px;
}

